[run]
omit =
    # omit GUI files from tests
    src/pytribeam/GUI/*

[paths]
    source = 
        # running from pytribeam root on an offline machine
        src
        # full path to 'pytribeam/src' on a laser system
        C:/Users/User/Desktop/Polonsky/____SOFTWARE/pytribeam/src
        # full path to `pytribeam/src` on a different laser system
        C:/Users/User/Documents/pytribeam/src
        C:/Users/apolon/Codebases/pytribeam/src