[run]
omit =
    # omit GUI files from tests
    # src/pytribeam/GUI/*
    src/pytribeam/GUI/CustomTkinterWidgets/*
    src/pytribeam/GUI/runner_util/ui_components.py
    src/pytribeam/GUI/runner.py
    src/pytribeam/GUI/config_ui/App.py

[paths]
    source = 
        # running from pytribeam root on an offline machine
        src
        # full path to 'pytribeam/src' on a laser system
        C:/Users/User/Desktop/Polonsky/____SOFTWARE/pytribeam/src
        # full path to `pytribeam/src` on a different laser system
        C:/Users/User/Documents/pytribeam/src
        C:/Users/apolon/Codebases/pytribeam/src